* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 1em;
  color: #fff;
  padding: .1em;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:800px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.general {
	padding-top: 2em;
	width: 75%;
	margin: 0 auto;
}

/* Won/Lost + podium */
.won, .lost{
	padding: .5em;
	text-align: center;
	display: block;
	width: 25em;
	margin: 0 auto;

}

.won {
	background: green;
}

.lost {
	background: red;
}

.podium {
	display: flex;
	flex-direction: column;
	padding: .5em;
}

.podium_title {
	text-align: center;
	padding: .5em;
	background: gray;
	width: 25em;
	margin: 0 auto;
}

.podium_card {
	display: flex;
	flex-direction: row;
	width: 25em;
	margin: 0 auto;
}

.podium_score {
	padding: .5em;
	width: 5em;
	background: gray;
	text-align: center;
}

.podium_name {
	padding: .5em;
	width: 20em;
	background: lightgray;
	text-align: center;
}

/* Local votes */
.choice_button > a {
	display: inline-block;
	padding: .5em;
	text-decoration: none;
}

.choice_button_container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 1em;
}

.choice_button_container .choice_button {
	margin: .05em;
	border: .1em solid black;
	border-radius: .5em;
	padding:.5em;
	width: 100%;
	text-align: center;
}

@media (max-width: 800) {
	.choice_button_container {
		flex-direction: column;
	}
	.choice_button_container .choice_button {
		width: 100%;
	}
}

/* player list */
.players_list {
	display: flex;  /* Remove bullet points; allow greater control of positioning */
	flex-wrap: wrap;
	flex-direction: row;
	flex-grow: 1;
	margin: 1em;
}

.players_list .player_card {
	margin: .05em;
	border: .1em solid black;
	border-radius: .5em;
	padding:.5em;
	flex: 1;
	text-align: center;
}

.players_list .distant {
	background: #8C5189;
	color: white;
}

.players_list .local {
	background: #00A891;
	color: white;
}

@media (max-width: 800) {
	.players_list {
		flex-direction: column;
	}
}
