<!DOCTYPE HTML>
<html>
	<head>
		<title>QFD</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<script>
		function getCookie(name) {
			var nameEQ = name + "=";
			var ca = document.cookie.split(';');
			for(var i=0;i < ca.length;i++) {
				var c = ca[i];
				while (c.charAt(0)==' ') c = c.substring(1,c.length);
				if (c.indexOf(nameEQ) == 0)
					return c.substring(nameEQ.length,c.length);
			}
			return null;
		}

		let url = '/state';

		fetch(url)
		.then(res => res.json())
		.then(out =>
		  document.getElementById('nametag').innerText
			= out["players"][getCookie("id")]["name"])
		</script>
	</head>
	<body>
		<div class="nav">
			<input type="checkbox" id="nav-check">
			<div class="nav-header">
				<div class="nav-title">
					QFD
				</div>
			</div>
			<div class="nav-btn">
				<label for="nav-check">
					<span></span>
					<span></span>
					<span></span>
				</label>
			</div>
			<div class="nav-links">
				<span id="nametag"> name </span>
				<a href="/distant/vote">Joueur Distant</a>
			</div>
		</div>
		<div class="general">
			{% block content %}{% endblock %}
			<div class="players_list">
				{% for player in state.players %}
					<div class="player_card {% if player.is_local %}local{% else %}distant{% endif %}">
						{{ state.players[player].name }}
					</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>
