{% extends "base.html" %}

{% block content %}
<div class="control_main">

	<div class="local_control_player_container">
		<img id="song_image" src="/static/data/{{ state.qcm.question.image }}"></img>
		<span id="song_label">{{ state.qcm.question.label }}</span>
	</div>

	<audio id="main" controls>
		<source src="/static/data/{{ state.qcm.question.file }}">
	</audio>
	{% for ans in state.qcm.answers %}
	<audio id="{{ ans.label }}" controls>
		<source src="/static/data/{{ ans.file }}">
	</audio>
	{% endfor %}
	<script>
	function playAllOnce() {
		const main = document.getElementById('main');
		const a = document.getElementById('a');
		const b = document.getElementById('b');
		const c = document.getElementById('c');

		main.addEventListener("ended",
			(event) => {
				a.play();
				document.getElementById('song_label').textContent = "a";
				document.getElementById('song_image').src = "/static/data/mystery.png";
			}
		)

		a.addEventListener("ended",
			(event) => {
				b.play();
				document.getElementById('song_label').textContent = "b";
			}
		)

		b.addEventListener("ended",
			(event) => {
				c.play();
				document.getElementById('song_label').textContent = "c";
			}
		)

		c.addEventListener("ended",
			(event) => {
				main.play();
				document.getElementById('song_label').textContent = "{{ state.qcm.question.label }}";
				document.getElementById('song_image').src = "/static/data/{{ state.qcm.question.image }}";
			}
		)

		main.play();
	}
	
	document.addEventListener("DOMContentLoaded", function() {
		playAllOnce();
	});
	</script>
</div>
{% endblock %}
